

.groupCategorias {
    display: flex;
    justify-content: center;
    align-items: center;

}

.columnCategorias {
    flex-direction: column;
}

.form-label{
    text-transform: capitalize;
}
.tituloBase{
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
    font-size: 30px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.caixaCrud {
    background-color: #E5E5E5;
    box-shadow: 0 4px 4px -2px #989898;
    margin-bottom: 30px;
    width: 90%;
    height: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 50px;

    position: relative;
    border-radius: 10px;
}
.cardCrudCategorias {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin: 60px;
    border-radius: 10px;
}
.cardCrud{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px;
}
.cardCrud h5{
text-align: start;
    margin: 0;
    padding: 0;
}
.cardCrudCategorias h6 {
    font-size: 20px;
}

.cardCrudCategorias p {
    font-size: 15px;
    margin-top: 20px;
}

.cardCrudCategorias button {
    padding: 10px;
    background-color: #989898;
    margin-right: 10px;
    margin-top: 10px;
    color: white;

    border-radius: 10px;
}

.cardCrudCategorias button p {
    color: white;
    margin: 0;
}


.formBase{
    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-top: 40px;
    font-weight: 600;
    width: 100%;
    font-size: 20px;
    flex-direction: row;
}
.inputCRUD{
    width: 100%;
    min-width: 400px;
    height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    display: block;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 4px -2px #989898; 
}
.inputCRUD::placeholder{
    padding: 20px;

}
.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 40px;
}
.botoes{
    width: 25%;
     
}
.submit1{
    display: block;
    background-color: var(--principal);
    color: white;
    width: 95%;
    padding: 10% 2%;
    font-size: 17px;
    border: none;
    border-radius: 7px;
    box-shadow: 0 4px 4px -2px #989898; 
    margin-top: 80px;
}
@media (max-width: 800px) {
    .inputCRUD{width: 95%;}
    .botoes{  
        position: relative; 
        width: 40%; 
        margin-top: 40px;
    }
    .submit1{
        margin-top: 25px;
        margin-bottom: 35px;
        width: 100%;      
    }

}