:root {
    --principal: #99313D;
    --grey: #858786ff;
    --gray: #2a2d34ff;
    --white: #fcfff7ff;
    --black: #000000ff;
}

.width85 {
    max-width: 1440px;

    width: 85%;
}

.groupServicos {
    display: flex;
    justify-content: center;
    align-items: center;

}

.columnServicos {
    flex-direction: column;
}

.servicos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
}

.imagemFundo {
    fill: var(--principal);
    background-image: url(../../utils/img/bg-15.svg);
}

.rowServicos {
    padding-top: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--grey);

}

.cardServicosInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

.cardServicosInfo h5 {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.cardServicostxt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardServicostxt a {
    margin-top: 20px;
}

.cardServicostxt p {
    text-align: justify;

}

.txtServicos {
    width: 60%;
}

.txtServicos h4 {
    font-size: 3em;
    font-weight: 700;
}

.imageServicos img {
    margin-left: 80px;
    width: 400px;
}

.buttonPrincipal {
    font-weight: 500;
    padding-left: 40px;
    padding-bottom: 5px;
    padding-right: 40px;
    border-bottom-width: 3px;
    border-bottom-color: var(--principal);
    border-bottom-style: solid;
    font-size: 1em;
    color: #000;
    margin-bottom: 20px;
    background-color: white;
    margin: 20px;
}
.buttonPrincipal a {

    color: #000;

}

.buttonPrincipal:hover {
    color: var(--gray);

}

.buttonPrincipal:hover {
    border-bottom-width: 0px;

    border-width: 3px;
    border-color: var(--principal);
    border-style: solid;
    transition: border-width 0.2s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.buttonPrincipalContato {
    font-weight: 500;
    padding-left: 40px;
    padding-bottom: 5px;
    padding-right: 40px;
    border-bottom-width: 3px;
    border-bottom-color: var(--principal);
    border-bottom-style: solid;
    font-size: 1em;
    color: #000;
    margin-bottom: 20px;
    background-color: white;
}

.buttonPrincipalContato:hover {
    color: var(--gray);

}
.capitalize{
    text-transform: capitalize;
}
.capitalize::placeholder{
    text-transform: none;
}
.buttonPrincipalContato:hover {
    border-bottom-width: 0px;

    border-width: 3px;
    border-color: var(--principal);
    border-style: solid;
    transition: border-width 0.2s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.cardServicos {
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 300px;
    margin-left: 30px;
    margin-right: 30px;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 13px;
    min-height: 500px;
}

.imageCaptionServicos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.08);
}

.imageCaptionServicos img {
   max-height: 170px;
   max-width: 220px;
}

.alinhamentoCardsServicos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

@media (max-width: 900px) {
    .rowServicos {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .imageServicos {
        margin-top: 40px;
    }

    .txtServicos {
        width: 95%;
    }

    .txtServicos h4 {
        font-size: 2.4em;
    }

    .imageServicos img {
        margin: 0;

        padding: 20px;
        width: 500px;
    }

    .cardServicos {

        margin-left: 0;
        margin-right: 0;
 
    }
    .cardServicostxt {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
        margin-left: 0;
        padding: 0;
    }

    .cardServicosInfo {
        padding: 20px;
    }

    .imageCaptionServicos {
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    .rowServicos {
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .txtServicos {
        width: 100%;
    }

    .imageServicos img {
        width: 330px;
    }
}

@media (max-width: 390px) {
    .rowServicos {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .txtServicos {
        width: 100%;
    }

    .txtServicos h4 {
        font-size: 2.2em;
    }

    .imageServicos img {
        padding: 0;

        width: 270px;
    }
}

@media (max-width: 350px) {
    .rowServicos {
        padding: 0;
        padding-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .txtServicos {
        width: 100%;
    }

    .txtServicos h4 {
        font-size: 1.6em;
    }

    .imageServicos img {
        padding: 0;

        width: 230px;
    }
    .imageCaptionServicos img {
        max-height: 170px;
        max-width: 180px;
    }
    .buttonPrincipal {

        padding-left: 5px;
        padding-right: 5px;


    }
}

@media (max-width: 270px) {
.imageServicos{
    display: none;
}
}