:root {
  --principal: #99313D;
  --grey: #858786ff;
  --gray: #2a2d34ff;
  --white: #fcfff7ff;
  --black: #000000ff;
}

.totalFooter {
  display: flex;
  background-color: #E7EBEB;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
  
}

.developed {
  background-color: #E7EBEB;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray);
  padding: 25px;
}

.developed a {
  color: var(--gray);
  text-decoration: none
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1440px;

  flex-direction: row;
}

.developed02 {
  color: var(--white);
  font-weight: 500;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-right: 15px;
  border-bottom-width: 3px;
  border-bottom-color: var(--principal);
  border-bottom-style: solid;
  font-size: 0.8em;
  margin-bottom: 20px;

}

.developed02:hover {
  border-bottom-width: 0px;

  border-width: 3px;
  color: var(--white);
  border-color: var(--principal);
  border-style: solid;
  transition: border-width 0.2s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.cardFooterLinks {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 80px;
}

.cardFooterLinks a {
  color: var(--gray);
  text-align: start;
  font-weight: 600;

}

.cardFooterLinks a:hover {
  border-bottom-width: 3px;
  border-bottom-color: var(--principal);
  border-bottom-style: solid;
  transition: border-bottom-width 0.2s;
}

.cardFooterSocial img {
  width: 40px;
  margin: 10px;
}
.cardFooterSocial img:hover {
  opacity: 60%;

}

.cardFooter img {
  width: 17em;

}

.cardFooterMobile {
  display: none;
}

@media (max-width: 800px) {
  .content {
    flex-direction: column-reverse;
  }

  .cardFooterLinks {
    margin-top: 0;

    margin-bottom: 30px;
  }
  .cardFooterSocial  {
    margin-bottom: 30px;
  }
  .cardFooterSocial img {
    width: 40px;
    margin-top: 30px;
  }

  .developed {
    padding: 20px;
  }

  .cardFooter {
    padding: 30px;
  }

  .cardFooterMobile {
    display: flex;
  }

  .cardFooter  {
display: none
  }
  .cardFooterMobile img {
    width: 17em;
    margin-top: 20px;
  }
}