*{
  margin: 0;
  padding: 0;
}
body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --principal: #99313D;
  --grey: #858786ff;
  --gray: #2a2d34ff;
  --white: #fcfff7ff;
  --black: #000000ff;
}
.width85 {
  width: 85%;
  max-width: 1440px;

}

button{
  border: 0;
}
.form-group{
  width: 60%;
}
@media (max-width: 450px) {
  .form-group{
    width: 100%;
  }
}