:root {
    --principal: #99313D;
    --grey: #858786ff;
    --gray: #2a2d34ff;
    --white: #fcfff7ff;
    --black: #000000ff;
}

.width85 {
    width: 85%;
}

.groupOportunidades {
    display: flex;
    justify-content: center;
    align-items: center;

}

.columnOportunidades {
    flex-direction: column;
}

select {
    border: 1px solid var(--principal);
    height: 30px;

}

option {
    padding: 10px;

}

select::selection {
    border: 1px solid var(--principal)
}

.filtrarSelectButton Button {
    height: 30px;
}

.buttonPrincipal {
    color: var(--white);
    font-weight: 500;
    padding-left: 40px;
    padding-bottom: 5px;
    padding-right: 40px;
    border-bottom-width: 3px;
    border-bottom-color: var(--principal);
    border-bottom-style: solid;
    font-size: 1em;
    color: #000;
    margin-bottom: 20px;

}

.buttonPrincipal:hover {
    color: var(--gray);

}

.buttonPrincipal:hover {
    border-bottom-width: 0px;

    border-width: 3px;
    border-color: var(--principal);
    border-style: solid;
    transition: border-width 0.2s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.filtrar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;


}

.filtrarSelectButton {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;

}

p {
    width: 100%;
}

#categorias {
    margin-right: 30px;
}

.headerOportunidade {

    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hr {
    background-color: var(--grey);
    width: 100%;
    height: 1px;
    opacity: 50%;
}

.oportunidadeDiv1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.oportunidadeDiv2 {
    width: 100%;


}

.oportunidadeFiltro {
    margin-top: 40px;
    margin-left: 20px;
    padding-right: 200px;
    margin-bottom: 40px;
    border-right: 1px solid var(--grey);
}

.rowOportunidades {
    padding-top: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-bottom: 30px;
}

.txtOportunidades {
    width: 60%;
}

.marginBottom {
    margin-bottom: 50px;
}

.txtOportunidades h4 {
    font-size: 3em;
    font-weight: 700;
}

.txtOportunidades p {

    margin-bottom: 20px;
}

.oportunidadeCard {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    border-bottom: 1px solid var(--grey);
    margin-bottom: 50px;
}

.oportunidadeCard h5,
.oportunidadeCard h4 {

    text-align: start;
    margin: 0;
    padding: 0 0 20px 0px;
}

.oportunidadeCard h5 {
    font-size: 25px;
    font-weight: 100;
}

.descricao {
    width: 40%;
    text-align: justify;
}

.imageOportunidades img {
    margin-left: 80px;
    width: 400px;
}

.dados h4 {
    font-size: 50px;
    font-weight: 200;
}
@media (max-width: 900px) {
    .descricao, .contatos{
        padding: 0 20px;
    }
}
@media (max-width: 540px) {

    .buttonPrincipal {

        padding-left: 0;
        padding-bottom: 5px;
        padding-right: 0;
        border-bottom-width: 3px;
        border-bottom-color: var(--principal);
        border-bottom-style: solid;
        font-size: 1em;
        color: #000;
        margin-bottom: 20px;

    }
    .descricao, .contatos{
padding: 0;    }
    .oportunidadeCard {
        flex-direction: column;
        padding: 0px 0px 30px 20px;
    }

    .descricao {
        margin-top: 40px;
        width: 100%;
    }
    .contatos {
        margin-top: 40px;
        width: 100%;
    }
    .oportunidadeFiltro{
        margin-left: 0;
        padding: 0;
        border: 0;
    }
    
}

@media (max-width: 800px) {
    .rowOportunidades {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .imageOportunidades {
        margin-top: 40px;
    }

    .txtOportunidades {
        width: 95%;
    }

    .txtOportunidades h4 {
        font-size: 2.4em;
    }

    .imageOportunidades img {
        margin: 0;

        padding: 20px;
        width: 500px;
    }
}

@media (max-width: 500px) {
    .rowOportunidades {
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .txtOportunidades {
        width: 100%;
    }

    .imageOportunidades img {
        width: 330px;
    }
}

@media (max-width: 390px) {
    .rowOportunidades {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .txtOportunidades {
        width: 100%;
    }


    .txtOportunidades h4 {
        font-size: 2.2em;
    }

    .imageOportunidades img {
        padding: 0;

        width: 270px;
    }
    .filtrarSelectButton{
        align-items: flex-start;
        flex-direction: column;
    }
    .filtrarSelectButton div{
        margin-bottom: 20px;

    }
    .rowOportunidades{
        padding: 0;
    }
}

@media (max-width: 350px) {
    .rowOportunidades {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .txtOportunidades {
        width: 100%;
    }

    .txtOportunidades h4 {
        font-size: 1.9em;
    }

    .imageOportunidades img {
        padding: 0;

        width: 230px;
    }
    .oportunidadeCard{
        padding: 0 0 20px 0;
    }
}