
:root {
    --principal: #99313D;
    --grey: #858786ff;
    --gray: #2a2d34ff;
    --white: #fcfff7ff;
    --black: #000000ff;
}

.CadastroContainer {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
}
.hoverCad{
        display: flex;
        width: 100%;
        border-bottom-width: 3px;
        border-bottom-color: var(--principal);
        border-bottom-style: solid;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    
}
.hoverCad:hover {
    border-bottom-width: 0px;
    border-width: 3px;
    color: var(--gray);
    border-color: var(--principal);
    border-style: solid;
    opacity: 90%;
    transition: border-width 0.1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
.CadastroContainerContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logoPasioCadastro {
    width: 100%;
    position: relative;

    height: 200px;
    background-position: center;
    background-image: url('../../../utils/img/login.svg');
    background-repeat: no-repeat;
    background-color: var(--principal);
    background-size: 300px 300px;
    margin: 0;

}

.formInputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column

}
.formInputs label{
    padding-bottom:5px;
 width: 100%;
    text-align:start
}
.formInputs input, .formInputs select{
    margin-bottom:20px;
    border:0;
    width: 100%;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;}
.formInputs select{
    padding: 20px;
    height: auto;
}
.formBaseCad {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.opacity {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div .buttonCad{
width: 100%;
}
 .buttonCad{
    width: 100%;
    border: 0;
    background-color: var(--principal);
    color: white;
    }
.opacity h3 {
    font-size: 2.5em;
    color: var(--white);

}



.fundo {
    background-color: var(--principal);
}


.formPasioCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #E7EBEB;
}

.formAsk {
    display: flex;
    flex-direction: column;
}

Form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}





.marginTopCadastro {
    margin-top: 10px;
}
#buttoncaddiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#buttoncad{
    min-width: 200px;
    height: 40px;
    font-size: 17px;

    background-color: #E7EBEB;
}


@media (max-width: 500px) {
    .CadastroContainerContent {
        flex-direction: column;
    }

    .CadastroContainerContent img {
        width: 170px;
    }
    .formPasioCadastro{
        padding: 20px;
        max-width: calc(99vw);
    }
    .opacity h3 {
        text-align: center;
        font-size: calc(9vw);
    }
}

@media (max-width: 350px) {
    .formInputs label {
        font-size: calc(5vw);

    }
    .formInputs input, .formInputs select {
        height: 10px;
        width: calc(85vw);
        color: black;

    }
    .formPasioCadastro{
        padding: 5px;
    }
    .formInputs {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding-left: 10px;
    }
}