.groupDashboard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
}

.cardDashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    margin: 10px;
    max-width: 250px;
    border-radius: 23px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.cardDashboard:hover {
    display: flex;


}


.cardDashboard h3 {
    font-size: 25px;
    padding: 20px;
    color: var(--principal);
}

.cardDashboardImg {
    max-width: 250px;
    max-height: 300px;
    border-radius: 23px;

}

.cardDashboardImg img {
    border-radius: 0 0 23px 23px;
    min-height: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.cardDashboardImg:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}


*,
html,
body {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* regra para o clear float */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}



#lateral {
    padding: 0 50px 0 0;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 1.2em;
    background: var(--principal);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
    width: 370px;
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 9999;
}
#seta{
    position:absolute;
    right: 10px;
    top: 80px;
    
}



#lateral:hover:before,
#lateral:focus:before {
    left: -500px
}

#lateral:hover,
#lateral:focus,
#lateral:active {
    overflow-y: scroll;
    -moz-transform: translate(320px, 0);
    -webkit-transform: translate(320px, 0);
    -o-transform: translate(320px, 0);
    transform: translate(320px, 0);
    padding-right: 0;
}

#lateral .box {
    list-style-type: none;
    margin-bottom: 1em;
    ;
    padding-bottom: 1em;
}

#lateral h3 {
    display: inline-block;
    font-weight: bold;
    font-size: 1.6em;
    font-style: normal;
    padding-bottom: 0.2em;
    margin: 2em 0 2em 0.81em;
    color: rgb(255, 255, 255);
    border-bottom: 4px solid rgb(155, 155, 155);
}

#link {
    background-color: #E7EBEB;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#link img {
    height: 70px;
}

#menu {
    font-style: italic;
    position: relative;
    font-size: 1.0em;
    margin: 1em 0 1em -1em;
    padding: 0;
}

#menu li {
    padding: 0;
    margin: 0;
}

#menu li a,
#menu li a:link {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.8em 0 0.8em 1em;
    display: block;
    -moz-transition: all 1.2s ease;
    -webkit-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
}

#menu li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.2);
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media (max-width: 500px) {
    body {
        margin-left: 0;
        background-size: 100% 28em !important;
    }

    #link {
        display: none;
    }
    #seta {
        display: none;
    }
    #lateral {
        padding: 0;
        -moz-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        font-size: 1.2em;
        height: 100%;
        overflow: auto;
        width: 100%;
        position: static;
        top: 0;
        left: 0;

    }

    #lateral:before {
        z-index: 998;
        width: 0;
        text-align: center;
        content: "";
        font-size: 0;
        color: white;
        position: static;
        top: 0;
        left: 0;
        display: inline-block;
    }

    #lateral:hover,
    #lateral:focus {
        overflow: scroll;
        -moz-transform: none;
        -webkit-transform: none;
        -o-transform: none;
        transform: none;
    }

    #menu li a {
        border-bottom: 1px solid #ccc;
    }

    #menu li:first-child a {
        border-top: 1px solid #ccc;
    }
}