:root {
    --principal: #99313D;
    --grey: #858786ff;
    --gray: #2a2d34ff;
    --white: #fcfff7ff;
    --black: #000000ff;
}

.width85 {
    width: 85%;
    max-width: 1440px;

}

.groupQuemSomos {
    display: flex;
    justify-content: center;
    align-items: center;

}

.columnQuemSomos {
    flex-direction: column;
}

.imagemFundo {
    fill: var(--principal);
    background-image: url(../../utils/img/bg-15.svg);
}

.rowQuemSomos {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.txtQuemSomos {
    width: 40%;
}

.txtQuemSomos h4 {
    font-size: 2em;
    font-weight: 700;
}

.imageQuemSomos img {
    margin-top: 40px;
    width: 350px;
}

.buttonPrincipal {
    color: var(--white);
    font-weight: 500;
    padding-left: 40px;
    padding-bottom: 5px;
    padding-right: 40px;
    border-bottom-width: 3px;
    border-bottom-color: var(--principal);
    border-bottom-style: solid;
    font-size: 1em;
    color: #000;
    margin-bottom: 20px;

}

.buttonPrincipal:hover {
    color: var(--gray);

}

.buttonPrincipal:hover {
    border-bottom-width: 0px;

    border-width: 3px;
    border-color: var(--principal);
    border-style: solid;
    transition: border-width 0.2s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.cardEquipe {
    position: relative;
    height: 199,50px;
    width: 150px;
}

.equipeTotal {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 h5 {
    font-size: 2em;
    font-weight: 600;
    color: var(--principal);
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.cardEquipe img {
    width: 100%;
    height: 199,50px;
    width: 150px;


}
.infoMobile .nomeEquipeMobile, .infoMobile .nomeCargoMobile{
    display: none;
    color: black;
    width: 100%;
    font-weight: 100;
    padding: 10px;
}
.descricaoEquipeMobile{
    display: none;
}
.alignIcon{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 30px 0 30px;

}
.equipe {
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.socialMediaIcon{
    font-size: 30px;
}
p {
    margin: 0;
    padding: 0;
}

.centerTxt {
    position: absolute;
    bottom: 0.1%;
    width: 100%;
    text-align: start;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.5);

}
#form {
    padding: 20px;
    border: 1px solid var(--principal);
    border-radius: 20px;
}
h5{
 text-align: center;
}
#form {
    min-width: 550px;
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

#form Form Form.group {
    border: 1px solid var(--principal);
}

Form {
    padding: 15px;

}

Form p {
    color: var(--principal);
    font-size: 17px;
}

.borda {
    border: 1px solid var(--principal);
}

.buttonColor {
    background-color: var(--principal);
    border: 1px solid var(--principal);

}

.nomeCargo {
    color: var(--white);
}

.nomeEquipe {
    color: var(--gray);
    font-size: 1.4em;
    font-weight: 100;
    text-align: start;
    padding: 30px 0 0 30px;

}
.descricaoEquipe{
    font-size: 0.7em;
    width: 70%;
    text-align: justify;
    padding:10px 30px 0 30px;
}
.cardEquipeTotal{

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 40px;
    width: 100%;
    box-shadow: rgba(148, 149, 150, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;    border-radius: 10px;
}
@media (max-width: 800px) {
    .rowQuemSomos {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .imageQuemSomos {
        margin-top: 40px;
    }

    .txtQuemSomos {
        width: 95%;
    }

    .txtQuemSomos h4 {
        font-size: 2.4em;
    }

    .imageQuemSomos img {
        margin-top: 0;

        padding: 20px;
        width: 500px;
    }
    .descricaoEquipe{
        width: 100%;
    }
}
@media (max-width: 700px) {
    .infoMobile .nomeEquipeMobile, .infoMobile .nomeCargoMobile{
        display: flex;

    }
    #form {
        min-width: 300px;

    }
    .cardEquipe{
        display: flex;
        width: 100%;
    }
    .nomeCargo, .nomeEquipe, .descricaoEquipe{
        display: none;
    }
    .descricaoEquipeMobile{
            font-size: 0.7em;
            text-align: justify;
            padding:10px ;
            color: grAy;
    }
    #form {
        min-width: calc(70vw);
        max-width: calc(90vw);
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .cardEquipeTotal{flex-direction: column;}
    .descricaoEquipe{
        margin: 0;
        padding: 20px;
    }
    .cardTxt, .centerTxt{
        display: none;
    }
}
@media (max-width: 500px) {
    .cardEquipe{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rowQuemSomos {
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .txtQuemSomos {
        width: 90%;
    }

    .imageQuemSomos img {
        width: 370px;
    }
    #form {

        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
    }
    input::placeholder{
        font-size: calc(3.5vw);
        color: black;
    }
    textarea::placeholder{
        font-size: calc(3.5vw);
    }
}


@media (max-width: 390px) {
    .rowQuemSomos {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .txtQuemSomos {
        width: 90%;
    }

    .imageQuemSomos img {
        padding: 0;

        width: 330px;
    }
}

@media (max-width: 350px) {
    .rowQuemSomos {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .txtQuemSomos {
        width: 95%;
    }

    .imageQuemSomos img {
        padding: 0;

        width: 230px;
    }
    #form {

        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
    
}
}