:root {
    --principal: #99313D;
    --grey: #858786ff;
    --gray: #2a2d34ff;
    --white: #fcfff7ff;
    --black: #000000ff;
}

.width85 {
    width: 85%;
    max-width: 1440px;

}

.groupQuemSomos {
    display: flex;
    justify-content: center;
    align-items: center;

}

.columnQuemSomos {
    flex-direction: column;
}

.imagemFundo {
    fill: var(--principal);
    background-image: url(../../utils/img/bg-15.svg);
}

.rowQuemSomos {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.txtQuemSomos {
    width: 40%;
}
.txtQuemSomos p{
    text-align: justify;
}
.txtQuemSomos h4 {
    font-size: 2em;
    font-weight: 700;
}

.imageQuemSomos img {
    margin-top: 40px;
    width: 350px;
}

.buttonPrincipal {
    color: var(--white);
    font-weight: 500;
    padding-left: 40px;
    padding-bottom: 5px;
    padding-right: 40px;
    border-bottom-width: 3px;
    border-bottom-color: var(--principal);
    border-bottom-style: solid;
    font-size: 1em;
    color: #000;
    margin-bottom: 20px;

}

.buttonPrincipal:hover {
    color: var(--gray);

}

.buttonPrincipal:hover {
    border-bottom-width: 0px;

    border-width: 3px;
    border-color: var(--principal);
    border-style: solid;
    transition: border-width 0.2s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.cardEquipe {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;

    height: 199, 50px;
}

.equipeTotal {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.equipeTotal h5,
.trabalheConosco h5 {
    font-size: 2em;
    font-weight: 600;
    color: var(--principal);
    padding: 30px;
    margin-top: 30px;
    text-align: center;

    margin-bottom: 30px;
}


.cardEquipe img {
    width: 100%;
    height: 199, 50px;
    width: 150px;


}

.cardEquipe {
    margin-top: 20px;
    margin-bottom: 50px;
    max-width: 350px;
    margin-left: 30px;
    margin-right: 30px;
width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 13px;
    min-height: 500px;
}
.cardEquipeInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}

.cardEquipeInfo h5 {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.imageCaptionEquipe {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.08);
}

.imageCaptionEquipe img {
   width: 100%;
}

.alinhamentoCardsEquipe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.infoMobile .nomeEquipeMobile,
.infoMobile .nomeCargoMobile {
    display: none;
    color: black;
    width: 100%;
    font-weight: 100;
    padding: 10px;
}

.descricaoEquipeMobile {
    display: none;
}

.alignIcon {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 30px 0 30px;

}

.equipe {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.socialMediaIcon {
    font-size: 30px;
}

p {
    margin: 0;
    padding: 0;
}

.centerTxt {
    position: absolute;
    bottom: 0.0000001%;
    width: 100%;
    text-align: start;
    padding-left: 30px;
    padding-top: 15px;

    font-size: 18px;
    background: rgba(153, 49, 61, 1);

}

#form {
    padding: 20px;
    border: 1px solid var(--principal);
    border-radius: 20px;
}

#form {
    min-width: 550px;
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

#form Form Form.group {
    border: 1px solid var(--principal);
}


Form p {
    text-align: center;
    color: var(--principal);
    font-size: 17px;
    margin-bottom: 20px;
}
.borda {
    border: 1px solid var(--principal);
}
.borda::placeholder {
    font-size: 13px
}
.buttonColor {
    background-color: var(--principal);
    border: 1px solid var(--principal);

}

.nomeCargo {
    color: var(--white);
}

.nomeEquipe {
    color: var(--gray);
    font-size: 1.4em;
    font-weight: 100;
    text-align: start;
    padding: 15px 0 0 20px;

}

.imgCard {
    width: 100%;
    background-color: rgba(8, 4, 0, 0.8)
}

.descricaoEquipe {
    font-size: 0.7em;
    text-align: justify;
    padding: 10px 30px 20px 20px;
}

.cardEquipeTotal {
    margin: 0 10px 0 10px;
    margin-top: 40px;
    max-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

@media (max-width: 800px) {
    .rowQuemSomos {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .cardServicosInfo {
        padding: 20px;
    }
    .imageQuemSomos {
        margin-top: 40px;
    }

    .txtQuemSomos {
        width: 95%;
    }

    .txtQuemSomos h4 {
        font-size: 2.4em;
    }

    .imageQuemSomos img {
        margin-top: 0;

        padding: 20px;
        width: 500px;
    }

    .descricaoEquipe {
        width: 100%;
    }
}

@media (max-width: 700px) {

    .infoMobile .nomeEquipeMobile,
    .infoMobile .nomeCargoMobile {
        display: flex;

    }

    #form {
        min-width: 300px;

    }

    .cardEquipe {
        display: flex;
        width: 100%;
    }

    .descricaoEquipeMobile {
        font-size: 0.7em;
        text-align: justify;
        padding: 10px;
        color: grAy;
    }

    #form {
        min-width: calc(70vw);
        max-width: calc(90vw);
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .cardEquipeTotal {
        flex-direction: column;
    }

    .descricaoEquipe {
        margin: 0;
        padding: 20px;
    }

}

@media (max-width: 500px) {
    .cardEquipe {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rowQuemSomos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .txtQuemSomos h4 {
        font-size: 1.9em;   
     }
    .txtQuemSomos {
        width: 90%;
    }

    .imageQuemSomos img {
        width: 370px;
    }

    #form {

        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    input::placeholder {
        font-size: calc(3.5vw);
        color: black;
    }

    textarea::placeholder {
        font-size: calc(3.5vw);
    }
}


@media (max-width: 390px) {
    .rowQuemSomos {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .txtQuemSomos {
        width: 90%;
    }

    .imageQuemSomos img {
        padding: 0;

        width: 200px;
    }
}

@media (max-width: 350px) {
    .rowQuemSomos {
        padding: 0;
        padding-top: 30px;
        padding-bottom: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .rowQuemSomos h4 {
        margin-bottom: 20px;
    }
    .txtQuemSomos {
        width: 95%;
    }

    .imageQuemSomos img {
        padding: 0;

        width: 230px;
    }

    #form {

        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;

    }
    .buttonPrincipal {

        padding-left: 5px;
        padding-right: 5px;

    
    }
}