.divHeader{
    width: 100%;
    height: 150px;
    background-color: aqua;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navBar{
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-variant: none;
    
}
.navBar a:hover{
    color: black;

}