:root {
    --principal: #99313D;
    --grey: #858786ff;
    --gray: #2a2d34ff;
    --white: #fcfff7ff;
    --black: #000000ff;
  }
.width85 {
    width: 85%;
    max-width: 1440px;
}
.groupTermos {
    display: flex;
    justify-content: center;
    align-items: center;

}
.columnTermos {
    flex-direction: column;
}
